.promptContainer {
  height: 100%;
  width: 100%;
  display: flex;
  gap: 1em;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.buttonContainer {
  display: flex;
  gap: 2em;
}

p {
  font-size: 23px;
  color: gray;
}

button {
  min-width: 60px;
  min-height: 40px;
}
