.membersContainer {
  width: 25%;
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 15px;
  background-color: #f1f1f1;
  box-shadow: inset 0px 0px 5px rgb(208, 208, 208);
  max-height: inherit;
}

.membersList {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  overflow: auto;
  border-radius: 0;
  padding: 5px;
}

.membersCount {
  padding-left: 10px;
  color: gray;
}

.member {
  padding: 8px;
  position: relative;
  background-color: rgb(100, 112, 227);
  color: white;
  border-radius: 15px;
  box-shadow: 0px 2px 5px 1px rgb(148, 148, 148);
  font-weight: 400;
}

.memberColor {
  color: #f1f1f1;
}

@media only screen and (max-width: 750px) {
  .membersContainer {
    padding: 5px;
    width: inherit;
    height: 12%;
    overflow-x: auto;
    overflow-y: hidden;
    gap: 0.5em;
    flex-direction: row;
    border-radius: 0;
  }
  .member {
    height: 50px;
  }

  .membersCount{
    height: 50px;
    word-wrap:break-word;
  }
}
